.root_box {
    .paper_1 {
        min-height: 69.35px;
        margin: 3% 0;
    }
    .content_box {
        min-height: 414.15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .paper_2 {
            .list-item {
                max-height: 500px;
            }
        }
    }
}

@media (max-width: 992px) {
    .paper_2 {
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
